.figure {
	margin: 0;
	padding: 0;
	display: block;
	line-height: 0;
}

.figure__image {
	width: 100%;
	z-index: 0;
}

.figure__actions {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 10;
}
.figure:hover .figure__actions { display: block; }
.figure.figure--cropping .figure__actions { display: none; }