/* Typografy */
h1, p { 
	font-family: 'Open Sans', sans-serif; 
}

h1 { 
	font-size: 36px;
	font-weight: 800;
}

p { 
	font-size: 16px;
	font-weight: 400;
	text-align: justify;
	line-height: 2em;
	margin: 1em 0;
}

/* Content */
body {
	margin: 0;
	padding: 0;
}

article {
	width: 640px;
	padding: 0;
	margin: 0 auto;
}

img {
	width: 100%;
}